@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    --bg-color:#F3F5FC;
    --color:#0A3871;
}

* {
    box-sizing:border-box;    
}

body {
    margin:0;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    display: flex;
    flex-grow: 1;
    padding: 1.5rem;
    justify-content: space-evenly;
}

header {
    padding: 0 2rem;
}

.apresentacao__conteudo {
    font-weight: 400;
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    padding-top: 5rem;
}

.apresentacao__informativa {
    display:flex;
    align-items: center;
    gap: 0.5rem;
}

textarea {
    font-size: 2rem;
    flex-grow:1;
    padding: 0;
    border:none;
    outline: none;
    resize: none;
    color: var(--color);
    background-color: var(--bg-color);
    text-align: left;
}

textarea::placeholder {
    color: var(--color);
}


.apresentacao__principal {
  display:flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.apresentacao__botao__destaque {
    background-color: #0A3871;
    color: white;
    min-width: 20.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    transition: filter 0.2s ease-in-out;
}

.apresentacao__botao__destaque:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.apresentacao__botoes__base:hover {
    filter: brightness(1.25);
    cursor: pointer;
}
.apresentacao__botoes__base {
    background-color:#D8DFE8;
    transition: filter 0.2s ease-in-out;
    color: var(--color);
    min-width: 20.5rem;
    padding: 1.5rem;
    border: 0.063rem solid #0A3871;
    border-radius: 1.5rem;
}

.apresentacao__resultado {
    display: flex;
    background-color: white;
    min-width: 10rem;
    border-radius: 2rem;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.texto__resultado {
    display: flex;
    text-align:left;
    flex-grow: 1;
    font-size: 2rem;
    color:#495057;
    background-color: white;
}

.aviso {
    font-weight: 700;
    font-size: 24px;
    color:#343A40;
}

.orientacao-entrada{
    color:#495057;
}

footer {
    color: var(--color);
    text-align: center;
    padding: 0.5rem;
}

footer a {
    color: var(--color);
}
@media (max-width: 768px) {
   main {
        flex-direction: column;
        justify-content: start;
        gap: 2rem;
   }
   
   .apresentacao__informativa {
        justify-content: center;
        }

    .apresentacao__conteudo {
        padding-top: 0;
    }
   .apresentacao__principal {
        flex-wrap: wrap;
    }

    .apresentacao__resultado {
        resize: none;
    }
    .apresentacao__resultado img:nth-of-type(1) {
        display: none;
    }
    
    
  }

