@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

* {
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
}
.apresentacao {
    color: #0A3871;
    background-color: #F3F5FC;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}
body {
    background-color: #F3F5FC;
    margin: 0;
    min-height: 100dvh;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    top: 622px;
    left: -2277px;
    
}
.cabecalho {
    width:120px;
    height: 48px;
    top: 40px;
    left: 40px;
    gap: 40px;
    margin-top: 5%;
    margin-left: 50px;
    text-align: center;
    justify-content: flex-start;
    

}
.imagem__alura {
    width: 31.09px;
    height: 48px;
    left: 44px;
    

}
.apresentacao__conteudo__header {
    display: flex;
    align-items: center;
    width: 31.09px;
    height: 48px;
    left: 44px;

}
.apresentacao__conteudo {
    color:#0A3871;
    background-color: #F3F5FC;
    display:flex;
    flex-direction: column;

}
.apresentacao__conteudo__texto {
    width:680px;
    height: 48px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 0 none;
    outline: 0;
    color: black;
    background-color: #F3F5FC ;
    font-family: inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;


}

.apresentacao__aviso {
    color: #495057;

}
.apresentacao__botoes {
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    outline-color: 0;
    font-size: 16px;
    line-height: 16.36px;
    gap: 30px;
    width: 680px;
    top: 885px;
    left:240px;
    gap: 24x;
    border: 1px solid  #0A3871;
    border-radius: 20px;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    padding: 0px 0px;
    opacity: 0px;

}
.primeiro__botao {
    color:white;
    background-color:#0A3871;
    width: 328px;
    height: 67px;
    border: 1px;
    border-radius: 24px;
    gap: 80px;
}
.segundo__botao {
    color:#0A3871;
    background-color: #D8DFE8;
    width: 328px;
    height: 67px;
    border: 1px;
    border-radius: 24px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    gap: 80px;
}
.apresentacao__imagens1 {
    margin: 0%;
    padding: 0%;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    gap: 0px;
    border-radius: 32px 0px 0px 0px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px #00000014;
}
.apresentacao__imagem3 {
    width: 336px;
    height: 58px;  

}
.apresentacao__imagem4 {
    width: 336px;
    height: 48px;
}
.rodape {
    color: #0A3871;
    text-align: center;
    background-color: #A2DAE0;

}